<div class="row">
  <div class="col-lg-12">
    <!-- vcard -->
    <div class="col-lg-3">
      <%= render partial: 'vcard' %>
    </div>
    <!-- タイムライン -->
    <div class="col-lg-7 col-lg-offset-1">
      <%= render partial: 'comments/comment_form', locals: { comment: @comment, customer: @customer } %>
      <%= render partial: 'comments/timeline' %>
    </div>

  </div>
</div>