$light_blue: #6cbfee;
$faint_blue: #afdcf8;
$white:      #fff;

.text-gray {
  color: #767676 !important;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.v-baseline {
  vertical-align: baseline;
}